/* PALETTE 1 */
:root {
  /*Blue-Vivid*/
  --clr-primary_1: hsl(218, 100%, 17%);
  --clr-primary_2: hsl(216, 98%, 25%);
  --clr-primary_3: hsl(215, 96%, 32%);
  --clr-primary_4: hsl(214, 95%, 36%);
  --clr-primary_5: hsl(212, 92%, 43%);
  --clr-primary_6: hsl(210, 83%, 53%);
  --clr-primary_7: hsl(208, 88%, 62%);
  --clr-primary_8: hsl(206, 93%, 73%);
  --clr-primary_9: hsl(204, 100%, 86%);
  --clr-primary_10: hsl(202, 100%, 95%);

  /* NEUTRAL Cool Grey */
  --clr-n-cool-grey-1: hsl(210, 24%, 16%);
  --clr-n-cool-grey-2: hsl(209, 20%, 25%);
  --clr-n-cool-grey-3: hsl(209, 18%, 30%);
  --clr-n-cool-grey-4: hsl(209, 14%, 37%);
  --clr-n-cool-grey-5: hsl(211, 12%, 43%);
  --clr-n-cool-grey-6: hsl(211, 10%, 53%);
  --clr-n-cool-grey-7: hsl(211, 13%, 65%);
  --clr-n-cool-grey-8: hsl(210, 16%, 82%);
  --clr-n-cool-grey-9: hsl(214, 15%, 91%);
  --clr-n-cool-grey-10: hsl(216, 33%, 97%);

  /* ACCENTS COLORS:  Pink (Vivid), Red (Vivid), Teal, Yellow (Vivid) */
  --clr-accent__pink-vivid-1: hsl(320, 100%, 19%);
  --clr-accent__pink-vivid-2: hsl(322, 93%, 27%);
  --clr-accent__pink-vivid-3: hsl(324, 93%, 33%);
  --clr-accent__pink-vivid-4: hsl(326, 90%, 39%);
  --clr-accent__pink-vivid-5: hsl(328, 85%, 46%);
  --clr-accent__pink-vivid-6: hsl(330, 79%, 56%);
  --clr-accent__pink-vivid-7: hsl(334, 86%, 67%);
  --clr-accent__pink-vivid-8: hsl(336, 100%, 77%);
  --clr-accent__pink-vivid-9: hsl(338, 100%, 86%);
  --clr-accent__pink-vivid-10: hsl(341, 100%, 95%);

  /*Red-Vivid*/
  --clr-accent__red-vivid-1: hsl(348, 94%, 20%);
  --clr-accent__red-vivid-2: hsl(350, 94%, 28%);
  --clr-accent__red-vivid-3: hsl(352, 90%, 35%);
  --clr-accent__red-vivid-4: hsl(354, 85%, 44%);
  --clr-accent__red-vivid-5: hsl(356, 75%, 53%);
  --clr-accent__red-vivid-6: hsl(360, 83%, 62%);
  --clr-accent__red-vivid-7: hsl(360, 91%, 69%);
  --clr-accent__red-vivid-8: hsl(360, 100%, 80%);
  --clr-accent__red-vivid-9: hsl(360, 100%, 87%);
  --clr-accent__red-1vivid-0: hsl(360, 100%, 95%);

  /*Teal*/
  --clr-accent__teal-1: hsl(170, 97%, 15%);
  --clr-accent__teal-2: hsl(168, 80%, 23%);
  --clr-accent__teal-3: hsl(166, 72%, 28%);
  --clr-accent__teal-4: hsl(164, 71%, 34%);
  --clr-accent__teal-5: hsl(162, 63%, 41%);
  --clr-accent__teal-6: hsl(160, 51%, 49%);
  --clr-accent__teal-7: hsl(158, 58%, 62%);
  --clr-accent__teal-8: hsl(156, 73%, 74%);
  --clr-accent__teal-9: hsl(154, 75%, 87%);
  --clr-accent__teal-10: hsl(152, 68%, 96%);

  /*Yellow-Vivid*/
  --clr-accent__yellow-vivid-1: hsl(15, 86%, 30%);
  --clr-accent__yellow-vivid-2: hsl(22, 82%, 39%);
  --clr-accent__yellow-vivid-3: hsl(29, 80%, 44%);
  --clr-accent__yellow-vivid-4: hsl(36, 77%, 49%);
  --clr-accent__yellow-vivid-5: hsl(42, 87%, 55%);
  --clr-accent__yellow-vivid-6: hsl(44, 92%, 63%);
  --clr-accent__yellow-vivid-7: hsl(48, 94%, 68%);
  --clr-accent__yellow-vivid-8: hsl(48, 95%, 76%);
  --clr-accent__yellow-vivid-9: hsl(48, 100%, 88%);
  --clr-accent__yellow-vivid-10: hsl(49, 100%, 96%);
}
