@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/font/Poppins/Poppins-Black.ttf') format('ttf'),
    url('/src/assets/font/Poppins/Poppins-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
